.section01 .title,

    /*.section03 .title,*/

.section05 .title,
.sectionEnd .title {
    color: #FFF !important;
    font-family: "din-light";
}

.section04 p.desc,
.section07 p.desc,
.section08 p.desc,
.section09 p.desc,
.section03 p.desc {
    color:#444040 !important;
    font-family: "din-light";
}

.section01top {
    width: 900px;
    text-align: right;
    margin-left: -18px;
    position: relative;
}

.section01top img {
    position: absolute;
    z-index: 4;
    top: -30px;
    right: -2px;
}

.section01 {
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/1.jpg) no-repeat #444;
    height: 819px;
}

.section01 .con {
    text-align: center;
    top: 16%;
    z-index: 1;
    margin-top: 54px;
}

.section01 .title font {
    font-family: "din-light";
}
.section01 .con .content p.desc {
    margin-top: -2px;
    margin-left: -32px;
}

.section02 {
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/2.jpg) right top no-repeat #FFF;
    height: 833px;
}

.section02 .con {
    text-align: left;
    top: 18%;
    z-index: 1;
}

.section02 .features {
    margin-top: 50px;
    margin-left: -50px
}
.section02 .con .content p.desc{
    color: black;
}

.section02 .features dl {
    display: inline-block;
    text-align: center;
    padding: 0 50px 0;
    border-left: 1px solid #333;
}

.section02 .features dl:first-child {
    border: none;
}

.section03 {
    height: 840px;
    margin-top: -900px;
}

.section03 .section03-left {
    text-align: left;
    display: block;
    height: 900px;
}

.section03 .con {
    text-align: left;
    top: 20%;
    left: auto;
    width: 500px;
    z-index: 1;
}

.section03 .con.sa .content p.desc {
    color: #a3a3a3;
}

.section03 .features dt {
    font-size: 40px;
    line-height: 44px
}

.is-visible .handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.section04 {
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/section0305-bg.png) no-repeat #FFF;
    margin-top: -50px;
    height: 1754px;
}

.section04 .con {
    text-align: right;
    top: 30%;
    width: 500px;
    z-index: 1
}

.section04 .con.sa .content h2.title {
    width: 712px;
    margin-left: -212px;
    margin-top: -250px;
    position: absolute;
}
.section04 .con .content p.desc{
    margin-left: 20px;
    margin-top: -60px;
    position: absolute;
    color: #575757;
}

.section05 {
    background: #444;
    height: 900px;
}

.section05 .J_movePic {
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/5.jpg) no-repeat bottom #FFF;
    height: 900px;
}

.section05 .con {
    text-align: left;
    top: 20%;
    left: auto;
    width: 560px;
    z-index: 1;
    right: 360px;
}

.section05 p.desc {
    color: #b2b2b2
}

.section05 .features {
    display: inline-block;
    width: 155px;
    height: 55px;
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/5-1.png);
    margin-top: 54px;
}
.section05 .con .content h2.title {
    font-size: 50px;
    color: #000;
    line-height: 52px;
    font-weight: lighter;
    margin-top: -20px;
}
@media screen and (max-width: 1400px) {
    .section05 .con .content h2.title, .section04 .con .content h2.title, .section02 .con .content h2.title {
        font-size: 36px;
    }
    .section05 .con .content p.desc{
        font-size: 15px;
    }
}

.section06 {
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/6-2.jpg) no-repeat bottom #FFF;
    height: 1080px;
    margin-top: 40px;
}
.section06 .con .content h2.title {
    font-size: 50px;
    color: #000;
    line-height: 56px;
    font-weight: lighter;
    margin-top: -10px;
}

.section05 .con .content {
    margin-top: -50px;
}

.section06 .con {
    text-align: center;
    top: 5%;
    z-index: 2
}

.section06 .leader {
    position: absolute;
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/6-1.png) no-repeat;
    width: 832px;
    height: 646px;
    left: 557px;
    bottom: 0;
    z-index: 3
}

.section06 .signal {
    position: relative;
    height: 100%;
}

.section06 .signal .s0,
.section06 .signal .s1,
.section06 .signal .s2,
.section06 .signal .s3,
.section06 .signal .s4 {
    position: absolute;
    background: url(https://s3.amazonaws.com/img01.xgimi.net/en/h1/images/sound/6-3.png) no-repeat;
    width: 1070px;
    height: 179px;
    left: 425px;
    bottom: 100px;
    opacity: 0;
    animation: zoom 5s;
    -moz-animation: zoom 5s;
    -webkit-animation: zoom 5s;
    -o-animation: zoom 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.section06 .signal .s1 {
    animation-delay: -3s;
    -webkit-animation-delay: -3s;
}

.section06 .signal .s2 {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.section06 .signal .s3 {
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.section06 .signal .s4 {
    animation-delay: -6s;
    -webkit-animation-delay: 6s;
}

@keyframes zoom {
    from {
        transform: scale(.1);
        opacity: 1
    }
    to {
        transform: scale(2.5);
        opacity: 0
    }
}

@-moz-keyframes zoom {
    from {
        -moz-transform: scale(.1);
        opacity: 1
    }
    to {
        -moz-transform: scale(2.5);
        opacity: 0
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(.1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(2.5);
        opacity: 0
    }
}

@-o-keyframes zoom {
    from {
        -o-transform: scale(.1);
        opacity: 1
    }
    to {
        -o-transform: scale(2.5);
        opacity: 0
    }
}

.sectionEnd {
    background-image: url(http://7o4yva.com1.z0.glb.clouddn.com/h1/images/sound/end.jpg)
}
.videoContent{
    position: relative;
    text-align: center;
}
.playBtn{
    width:100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(#42a1ec, #0070c9);
    text-align: center;
    position: absolute;
    margin:0 auto;
    display: inline-block;
    top: -1928px;
    z-index: 5;
    cursor: pointer;
}
.playBtn:hover{
    box-shadow: 0 0 8px #42a1ec;
}
.cart{
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 38px solid #efefef;
    border-bottom: 34px solid transparent;
    margin-left: 39px;
    border-radius: 3px;
    margin-top: 16px;
}

.vContent{
    width: 1600px;
    height: 1000px;
    background-color: #000;
    position: relative;
    text-align: center;
}
.soundVedio{
    position: absolute;
    z-index: 3400000;
    display: inline-block;
    left: 20px;
}